@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.cdnfonts.com/css/miama");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif, "Miama";
}

/* navber section style here */
.navber {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}
.navber ul li {
  list-style-type: none;
}
.navber > li:first-child {
  list-style: none;
}
.navber > li a:first-child {
  text-decoration: none;
}

.navber ul {
  gap: 2rem;
  display: flex;
}
.navber ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 120%;
}

.Fitness {
  color: #e6533c;
  font-size: 2rem;
  font-style: italic;
  font-weight: 700;
  line-height: 120%;
}

.home {
  border-radius: 46px;
  padding: 8px 20px;
  background: #e6533c;
}

.navber-menu {
  display: none;
}

/* navber section style end here */

header {
  background: linear-gradient(180deg, #111 100%, rgba(119, 119, 119, 0) 100%);
}

/* banner-section style start here */

.banner-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0px 1rem;
}
.banner-info {
  color: #fff;
}
.banner-img {
  position: relative;
}

.banner-card-bottom {
  position: absolute;
  bottom: -2rem;
  right: 25rem;
  width: 200px;
  height: 96px;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(48, 48, 48, 0.54);
  backdrop-filter: blur(10px);
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}
.banner-card-bottom h1 {
  color: #fff;
  font-size: 24px;
  font-weight: 900;
  line-height: 24px;
  letter-spacing: 0.3px;
  margin-bottom: 10px;
}
.banner-card-bottom small {
  color: var(rgba(239, 237, 232, 0.65));
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
}
.fa-circle-play {
  font-size: 3rem;
  color: #e6533c;
  display: none;
}
.banner-circel {
  color: #e6533c;
  font-size: 3rem;
}
.banner-card-top {
  position: absolute;
  bottom: 16rem;
  right: 3rem;
  width: 200px;
  height: 96px;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(48, 48, 48, 0.54);
  backdrop-filter: blur(10px);
  padding: 5px;
}
.banner-card-top h1 {
  color: #fff;
  font-size: 2rem;
  font-weight: 900;
  line-height: 40px;
  letter-spacing: 1px;
  padding: 10px;
}
.banner-card-top small {
  color: rgba(255, 255, 255, 0.65);
  font-size: 14px;
  padding: 10px;
}

.banner-info h1 span {
  color: #fff;
  font-family: Miama;
  font-size: 78px;
  font-weight: 400;
  line-height: 120%;
}
.banner-info h1 {
  font-size: 3rem;
  font-weight: 900;
  line-height: 120%;
}
.banner-info p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
  margin-top: 1rem;
}

.banner-btn-container {
  display: flex;
  gap: 1rem;
  margin-top: 3rem;
}
.Join-Club-Now {
  padding: 16px 50px;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  background-color: #e6533c;
  border-radius: 3rem;
  border: none;
  color: #fff;
  font-size: 1rem;
}
.Download-App {
  background: linear-gradient(180deg, #111 100%, rgba(119, 119, 119, 0) 100%);

  padding: 16px 50px;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  border-radius: 3rem;
  border: 1px solid;
  color: #fff;
  font-size: 1rem;
}

/* banner section end here */

/* main section start here */

main {
  background: #000;
  color: #fff;
}

/* Habits container */
.habits-section {
  padding-top: 4rem;
  text-align: center;
}
.habits-card-cotainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  padding: 20px 40px;
}
.habits-card1 h1 {
  padding-top: 1rem;
  font-size: 18px;
  font-weight: 600;
  line-height: 120%;
}
.habits-card1 p {
  padding-top: 10px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.3px;
}
.habits-card2 h1 {
  padding-top: 1rem;
  font-size: 18px;
  font-weight: 600;
  line-height: 120%;
}
.habits-card2 p {
  padding-top: 10px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.3px;
}
.habits-card3 h1 {
  padding-top: 1rem;
  font-size: 18px;
  font-weight: 600;
  line-height: 120%;
}
.habits-card3 p {
  padding-top: 10px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.3px;
}
.habits-card4 h1 {
  padding-top: 1rem;
  font-size: 18px;
  font-weight: 600;
  line-height: 120%;
}
.habits-card4 p {
  padding-top: 10px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.3px;
}
.habits-card1 img {
  border-radius: 100px;
}
.habits-card2 img {
  border-radius: 100px;
}
.habits-card3 img {
  border-radius: 100px;
}
.habits-card4 img {
  border-radius: 100px;
}


/* habits section end here */


/* run section strat here */


.run-section{
  margin: 5rem 5rem;
  display: flex;
  justify-content: space-between;
  padding:2rem 3rem ;
  background-color: #222;


}

.run-img-conmtainer{
  
}

.run-img{
  width: 400px;
  height: auto;
  /* background-image: url("../images/run.jpg"); */
  background-position: center;
  background-size: cover;

}
.run-img img{
  width: 100%;
 
  
  border-radius: 1rem;
}
.run-img{
 padding:2rem;
}
.run-info{
  padding: 2rem;
}
.run-info h1{
  color: #fff;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 1rem;
}
.run-info small{

  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;

}
.run-section button{
  padding: 10px 30px;
  background-color: #e6533c;
  color: #fff;
  border: none;
  border-radius: 1rem;
  font-size: 1rem;
  margin-top: 1rem;
}












.table-section {
  text-align: center;
  color: white;
  margin-top: 100px;
  width: 100%;
}
.table-section > h1 {
  text-align: left;
  font-size: 32px;
  font-weight: 900;
  line-height: 120%;
  padding-left: 4rem;
  padding-bottom: 1rem;
}
.table-section > p {
  text-align: left;
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  padding-left: 4rem;
  letter-spacing: 0.3px;
}
.table-container table,
th,
td {
  border: 1px solid rgb(255, 255, 255);
  border-collapse: collapse;
  padding: 10px;
  color: rgba(255, 255, 255, 0.5);
}
.table-container table th {
  color: white;
}
.table-container h1 {
  text-align: left;
  padding: 50px 0px;
}

.Calculator-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #222;
  margin: 50px 0px;
  padding: 50px 150px;
}
.form-container {
  text-align: left;
}
.form-container h1 {
  padding: 20px 0px;
}
.form-container p {
  padding-bottom: 50px;
  
}
.form-description{
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.3px;
}
.input-container-1 {
  display: flex;
  gap: 10px;
}
.input-container-1 input {
  border-radius: 8px;
  border: none;
  height: 40px;
  width: 100%;
  padding: 0px 10px;
  color: white;
  background: rgba(255, 255, 255, 0.1);
}
.input-container-2 {
  margin-top: 10px;
  display: flex;
  gap: 10px;
}
.input-container-2 input {
  border-radius: 8px;
  border: none;
  height: 40px;
  width: 100%;
  padding: 0px 10px;
  color: white;
  background: rgba(255, 255, 255, 0.1);
}
.from-input {
  margin-top: 10px;
  border-radius: 8px;
  border: none;
  height: 40px;
  width: 100%;
  padding: 0px 10px;
  color: white;
  background: rgba(255, 255, 255, 0.1);
}
.form-container button {
  margin-top: 20px;
  background-color: #e6533c;
  padding: 10px 50px;
  color: white;
  border: none;
  border-radius: 40px;
  margin-bottom: 50px;
}
.form-container > input {
  background: rgba(255, 255, 255, 0.1);
  background-image: url("../images/chevron-down.png");
  background-repeat: no-repeat;
  background-position: right;
}
.input-container-2 :nth-child(2) {
  background: rgba(255, 255, 255, 0.1);
  background-image: url("../images/chevron-down.png");
  background-repeat: no-repeat;
  background-position: right;
}







.cards-section{
  width: 80%;
  margin: auto;
  padding: 2rem;
  border-radius: 18px;
background: rgba(255, 255, 255, 0.10);
}



.cards{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  border-radius: 1rem;

}

.card1{
  width: auto;

}
.card1 img{
  width: 100%;
  border-radius: 10px;

}
.card2 img{
  width: 100%;
  border-radius: 10px;

}
.card3 img{
  width: 100%;
  border-radius: 10px;

}
.card4 img{
  width: 100%;
  border-radius: 10px;

}
.card5 img{
  width: 100%;
  border-radius: 10px;

}
.card6 img{
  width: 100%;
  border-radius: 10px;

}
.card2{
  width: auto;
}
.card3{
  width: auto;

}
.card4{
  width: auto;

}
.card5{
  width: auto;

}
.card6{
  width: auto;



}






























/* Responsive layout */

@media screen and (max-width: 576.99px) {
  /* navber section start here */
  .navber ul {
    display: none;
  }
  .navber-menu {
    display: block;
    font-size: 1rem;
    color: #fff;
  }

  /* navber section end here */

  /* banner section start here */
  .banner-container {
    flex-direction: column;
  }

  .banner-card-bottom {
    top: 48rem;
    left: 5rem;
    width: 145px;
    height: 70px;
    gap: 10px;
  }
  .banner-card-top {
    bottom: -10rem;
    right: 1.5rem;
    width: 145px;
    height: 70px;
  }
  .banner-card-top h1 {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 900;
    line-height: 40px;
    letter-spacing: 1px;
    padding: 0px;
  }
  .banner-card-top small {
    color: rgba(255, 255, 255, 0.65);
    font-size: 12px;
    padding: 5px;
  }

  .banner-info {
    text-align: left;
  }
  .banner-circel {
    display: none;
  }
  .fa-circle-play {
    display: block;
    font-size: 2rem;
  }
  .banner-card-bottom small {
    font-size: 14px;
  }
  .banner-card-bottom h1 {
    margin-bottom: 5px;
  }

  /* habits section */
  .habits-card-cotainer {
    grid-template-columns: repeat(1, 1fr);
  }

  /* run section */
  .run-section{
    flex-direction: column;
    padding: 10px;
    margin: 10px;
  }
  .run-btn{
    width:100% ;
  
  }


    /* calculator section */
    .Calculator-container {
      flex-direction: column;
      padding: 0px 20px;
    }
  
    /* table section */
    .table-section > h1 {
      padding-left: 2rem;
      padding-bottom: 1rem;
    }
    .table-section > p {
      padding-left: 2rem;
    }
  
}

@media screen and (min-width: 576.99px) and (max-width: 992.99px) {
  .banner-circel {
    display: block;
  }
  .fa-circle-play {
    display: none;

  }
}

@media screen and (min-width: 992.99px) {
  .banner-circel {
    display: block;
  }
  .fa-circle-play {
    display: none;

  }
}
