@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.cdnfonts.com/css/miama");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif, "Miama";
}



header {
  background: linear-gradient(180deg, #111 100%, rgba(119, 119, 119, 0) 100%);
}


.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  color: white;
  align-items: center;
}
.navbar > li {
  list-style: none;
}
.navbar > li a {
  text-decoration: none;
  color: #fc7100;
  font-size: 32px;
  font-weight: 800;
}
.navbar ul {
  display: flex;
  gap: 20px;
  align-items: center;
}
.navbar ul li {
  list-style: none;
}
.navbar ul li a {
  text-decoration: none;
  color: white;
}
.menu a i {
  color: white;
}
.Home {
  background: #e6533c;
  padding: 10px 20px;
  border-radius: 20px;
}


.banner-main-container {
  padding-top: 50px;
  width: 100%;
}
.card-tittle {
  color: white;
}
.card-description {
  color: white;
}
.banner-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 300px;
}
.banenr-card-one {
  background-color: #fc7100;
  display: flex;
  align-items: center;
  gap: 20px;
  width: 200px;
  height: 95px;
  position: absolute;
  bottom: 100px;
  left: -120px;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  padding: 10px 10px;
}

.banenr-card-one i {
  color: #fc7100;
  font-size: 30px;
}
.banenr-card-one h5 {
  color: white;
  font-size: 24px;
}
.banenr-card-one small {
  color: var(--Text-2, rgba(239, 237, 232, 0.65));
  font-style: normal;
  line-height: 24px;
  letter-spacing: 0.5px;
}
.banenr-card-two {
  background-color: #fc7100;
  width: 200px;
  height: 95px;
  position: absolute;
  top: 140px;
  right: -80px;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  padding: 10px 10px;
}
.banner-img {
  position: relative;
}

.banner-info {
  color: white;
}
.banenr-card-two h3 {
  color: white;
  font-size: 24px;
  font-weight: 900;
}
.banenr-card-two small {
  font-size: 15px;
  color: rgba(255, 255, 255, 0.65);
}
.banner-info h1 {
  padding-bottom: 10px;
  color: #fff;
  font-size: 78px;
  font-weight: 900;
  line-height: 120%;
}
.banner-info h1 span {
  color: #fff;
  font-family: Miama;
  color: #fff;
  font-size: 78px;
  font-weight: 400;
  line-height: 120%;
}
.banner-info p {
  padding-bottom: 10px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
}
.banner-btn-two {
  padding: 10px 20px;
  border-radius: 20px;
  margin-top: 20px;
  border: 1px solid white;
  color: white;
  background: linear-gradient(180deg, #111 100%, rgba(119, 119, 119, 0) 100%);
}
.banner-btn-one {
  padding: 10px 20px;
  border-radius: 20px;
  margin-top: 20px;
  color: white;
  background-color: #fc7100;
  border: none;
}

.banner-circle span {
  background-color: #e6533c;
  padding: 0.5rem 1rem;
  border-radius: 300%;
}
.banner-circle img {
  display: none;
}

main {
  background-color: #000;
}


.card-main-container {
  text-align: center;
}
.card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  padding: 20px 40px;
}
.card-one {
  text-align: center;

  color: white;
  padding-bottom: 20px;
  align-items: center;
  text-align: center;
}
.card-one h1 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.card-img-container {
  padding: 10px 0px;
  margin: auto;

}
.card-img-container img {
  border-radius: 100px;
}
.card-small {
  color: rgba(255, 255, 255, 0.5);
}
.card-tittle {
  color: #fff;
  padding-top: 4rem;
  font-size: 2.5rem;
  font-weight: 800;
  padding-bottom: 1rem;
}
.card-description {
  color: rgba(255, 255, 255, 0.5);
}



.run-sectaion {
  margin: 50px 50px;
  padding: 30px 40px;
  display: flex;
  align-items: center;

  background-color: #2b2b2b;
  border-radius: 10px;
  justify-content: space-between;

}

.run-img img {
  width: 500px;
  border-radius: 10px;
}

.run-info h1 {
  padding-bottom: 10px;
  color: #fff;
  font-size: 48px;
  font-weight: 900;
  line-height: 120%;
}
.run-info small {
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.3px;
}
.run-info > div button {
  background-color: #fc7100;
  padding: 10px 3rem;
  border-radius: 20px;
  margin-top: 20px;
  border: none;
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
}


.trainings-section {
  margin: 0px 20px;
  color: white;
}
.trainings-section h1 {
  padding-top: 50px;
  padding-bottom: 20px;
}
.trainings-section > h1 {
  font-size: 48px;
  font-weight: 900;
  line-height: 120%;
  padding-left: 1.5rem;
}
.trainings-section > small {
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.3px;
}

.trainings-card-container {
  padding-top: 50px;
  display: grid;
  grid-template-columns: 0.75fr 1fr 0.75fr;
}
.trainings-card1 {
  background: linear-gradient(
      0deg,
      rgba(6, 255, 210, 0.5) 0%,
      rgba(6, 255, 210, 0.5) 100%
    ),
    url("../images//exercise1.jpg") lightgray 50% / cover no-repeat;
  height: 200px;
  background-position: center;
  background-size: cover;
}
.trainings-card2 {
  background-color: #25160a;
  background: linear-gradient(
      0deg,
      rgba(255, 0, 0, 0.3) 0%,
      rgba(255, 0, 0, 0.3) 100%
    ),
    url("../images//exercise2.png") lightgray -0.336px 0px / 100.125% 111.811% no-repeat;
  height: 200px;
  background-position: center;
  background-size: cover;
}
.trainings-card3 {
  background-color: #645a51;
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    url("../images//exercise3.png") lightgray 50% / cover no-repeat;
  height: 200px;
  background-position: center;
  background-size: cover;
}

.trainings-card-container-two {
  display: grid;
  grid-template-columns: 1fr 0.75fr 0.75fr;
}
.trainings-two-card-1 {
  background-color: #fc7100;
  height: 200px;
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    url("../images//exercise4.png") lightgray 50% / cover no-repeat;
  background-position: center;
  background-size: cover;
}
.trainings-two-card-2 {
  background-color: #fc7100;
  height: 200px;
  background: linear-gradient(
      0deg,
      rgba(66, 255, 0, 0.3) 0%,
      rgba(66, 255, 0, 0.3) 100%
    ),
    url("../images//exercise5.jpg") lightgray 50% / cover no-repeat;
  background-position: center;
  background-size: cover;
}
.trainings-two-card-3 {
  background-color: #fc7100;
  height: 200px;
  background: linear-gradient(
      0deg,
      rgba(0, 71, 255, 0.3) 0%,
      rgba(0, 71, 255, 0.3) 100%
    ),
    url("../images//exercise6.jpg") lightgray 50% / cover no-repeat;
  background-position: center;
  background-size: cover;
}
.trainings-two-card-3 p {
  margin: 35% 30px;
}
.trainings-two-card-2 p {
  margin: 35% 30px;
}
.trainings-two-card-1 p {
  margin-top: 20px;
  margin-left: 50%;
}
.trainings-card1 p {
  margin: 35% 20px;
}
.trainings-card2 p {
  margin: 20px;
}
.trainings-card3 p {
  margin: 35% 20px;
}



.table-section {
  text-align: center;
  color: white;
  margin-top: 100px;
  width: 100%;
}
.table-section > h1 {
  text-align: left;
  font-size: 32px;
  font-weight: 900;
  line-height: 120%;
  padding-left: 4rem;
  padding-bottom: 1rem;
}
.table-section > p {
  text-align: left;
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  padding-left: 4rem;
  letter-spacing: 0.3px;
}
.table-container table,
th,
td {
  border: 1px solid rgb(255, 255, 255);
  border-collapse: collapse;
  padding: 10px;
  color: rgba(255, 255, 255, 0.5);
}
.table-container table th {
  color: white;
}
.table-container h1 {
  text-align: left;
  padding: 50px 0px;
}

.Calculator-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #222;
  margin: 50px 0px;
  padding: 50px 150px;
}
.form-container {
  text-align: left;
}
.form-container h1 {
  padding: 20px 0px;
}
.form-container p {
  padding-bottom: 50px;
  
}
.form-description{
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.3px;
}
.input-container-1 {
  display: flex;
  gap: 10px;
}
.input-container-1 input {
  border-radius: 8px;
  border: none;
  height: 40px;
  width: 100%;
  padding: 0px 10px;
  color: white;
  background: rgba(255, 255, 255, 0.1);
}
.input-container-2 {
  margin-top: 10px;
  display: flex;
  gap: 10px;
}
.input-container-2 input {
  border-radius: 8px;
  border: none;
  height: 40px;
  width: 100%;
  padding: 0px 10px;
  color: white;
  background: rgba(255, 255, 255, 0.1);
}
.from-input {
  margin-top: 10px;
  border-radius: 8px;
  border: none;
  height: 40px;
  width: 100%;
  padding: 0px 10px;
  color: white;
  background: rgba(255, 255, 255, 0.1);
}
.form-container button {
  margin-top: 20px;
  background-color: #e6533c;
  padding: 10px 50px;
  color: white;
  border: none;
  border-radius: 40px;
  margin-bottom: 50px;
}
.form-container > input {
  background: rgba(255, 255, 255, 0.1);
  background-image: url("../images/chevron-down.png");
  background-repeat: no-repeat;
  background-position: right;
}
.input-container-2 :nth-child(2) {
  background: rgba(255, 255, 255, 0.1);
  background-image: url("../images/chevron-down.png");
  background-repeat: no-repeat;
  background-position: right;
}



.meet-section {
  color: white;
  text-align: center;
}
.meet-card-container-child {
  width: 95%;
  margin: 50px auto;
  background: rgba(255, 255, 255, 0.1);
}

.meet-card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  color: white;

  margin: 20px;
  padding: 20px;
  border-radius: 18px;
  row-gap: 20px;
}
.meet-info {
  text-align: left;
  margin-top: 50%;
}
.meet-info {
  padding-top: 7rem;
  margin-left: 1rem;
  font-size: 20px;
  font-weight: 900;
  line-height: 120%;
}
.meet-info small {
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  font-weight: 400;
  line-height: 120%;
}

.meet-card-1 {
  border-radius: 18px;
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(0, 0, 0, 0.2) 100%
    ),
    url("../images/trainer1.png") lightgray 50% / cover no-repeat;
  height: 372px;
  background-position: center;
  background-size: cover;
}
.meet-card-2 {
  border-radius: 18px;
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(0, 0, 0, 0.2) 100%
    ),
    url("../images/trainer2.png") lightgray 50% / cover no-repeat;
  height: 372px;
  background-position: center;
  background-size: cover;
}
.meet-card-3 {
  border-radius: 18px;
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(0, 0, 0, 0.2) 100%
    ),
    url("../images/trainer3.png") lightgray 50% / cover no-repeat;
  height: 372px;
  background-position: center;
  background-size: cover;
}
.meet-card-4 {
  border-radius: 18px;
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(0, 0, 0, 0.2) 100%
    ),
    url("../images/trainer4.png") lightgray 50% / cover no-repeat;
  height: 372px;
  background-position: center;
  background-size: cover;
}
.meet-card-5 {
  border-radius: 18px;
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(0, 0, 0, 0.2) 100%
    ),
    url("../images/trainer5.png") lightgray 50% / cover no-repeat;
  height: 372px;
  background-position: center;
  background-size: cover;
}
.meet-card-6 {
  border-radius: 18px;
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(0, 0, 0, 0.2) 100%
    ),
    url("../images/trainer6.png") lightgray 50% / cover no-repeat;
  height: 372px;
  background-position: center;
  background-size: cover;
}

footer {
  margin-top: 50px;
  background: rgba(255, 255, 255, 0.1);
}

.footer-conatiner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 70px 100px;
  gap: 50px;
}
.footer-links h1 {
  color: white;
  margin-bottom: 20px;
}
.footer-links a {
  display: block;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);

  margin-bottom: 20px;
}
footer hr {
  width: 90%;
  margin: auto;
  stroke: rgba(255, 255, 255, 0.1);
  height: 0px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  margin-bottom: 20px;
}
footer small {
  color: rgba(255, 255, 255, 0.5);
  font-size: 10px;
  font-weight: 400;
  letter-spacing: 0.5px;
  line-height: 24px;
}
.footer-end {
  text-align: center;
}
.footer-info h1 {
  color: #e6533c;

  font-size: 70px;
  font-style: italic;
  font-weight: 800;
  line-height: 120%;
  margin-bottom: 20px;
}
.footer-info small {
  color: rgba(255, 255, 255, 0.5);
  font-size: 10px;
  font-weight: 400;
  letter-spacing: 0.5px;
  line-height: 24px;
}

.fa-circle-play {
  display: none;
}


.meet-title {
  font-size: 48px;
  font-weight: 900;
  line-height: 120%;
}
.meet-description {
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.3px;
  margin-top: 20px;
}



.trainings-small{
  margin-left: 2rem;
}


@media screen and (max-width: 576.99px) {

  .navbar > ul {
    display: none;
  }


  .card-container {
    grid-template-columns: repeat(1, 1fr);
  }

  .run-sectaion {
    flex-direction: column;
    gap: 30px;
  }
  .run-img img {

    width: 100%;
  }
  .run-img-container {
    flex: 1;
  }
  .run-info {
    flex: 1;
  }
  .run-btn {
    text-align: center;
    padding: 0px 10px;
  }
  .run-btn button {
    width: 100%;
  }


  .trainings-card3 {
    display: none;
  }
  .trainings-card-container {
    grid-template-columns: 1fr 0.8fr;
  }
  .trainings-card-container-two {
    grid-template-columns: 0.8fr 1fr;
  }
  .trainings-two-card-3 {
    display: none;
  }
  .trainings-section p{
    display: none;
  }



  .banner-container {
    flex-direction: column;
    gap: 100px;
  }
  .banner-img img {
    width: 90%;
  }
  .banner-info {
    text-align: left;
    margin-left: 10px;
  }
  .banenr-card-two {
    top: 50px;
    right: 15px;
    width: 145px;
    height: 74px;
  }
  .banenr-card-one {
    width: 150px;
    height: 74px;
    left: 25px;
    bottom: 200px;
    gap: 10px;
  }
  .banenr-card-one small {
    font-size: 10px;
  }

  .banenr-card-two small {
    font-size: 10px;
  }
  .banner-main-container {
    padding-left: 16px;
  }
  .banner-info h1 {
    padding-bottom: 10px;
    font-size: 4rem;
  }
  .banner-info h1 span {
    font-size: 4rem;
  }
  .banner-info p {
    padding: 0rem 1rem;
  }
  .banner-circle span {
    display: none;
  }
  .banner-circle img {
    display: block;
  }


  .Calculator-container {
    flex-direction: column;
    padding: 0px 20px;
  }


  .table-section > h1 {
    padding-left: 2rem;
    padding-bottom: 1rem;
  }
  .table-section > p {
    padding-left: 2rem;
  }


  .meet-card-container {
    grid-template-columns: repeat(1, 1fr);
  }

  .meet-card-1 {
    display: none;
  }
  .meet-card-4 {
    display: none;
  }

  .footer-conatiner {
    flex-direction: column;
    padding: 70px 20px;
  }
  .footer-links {
    text-align: left;
    margin-right: 150px;
  }
  .fa-circle {
    display: none;
  }
  .fa-circle-play {
    display: block;
  }


  .team-card-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
    color: white;
  }
  .meat-section p {
    padding: 0 1rem;
  }
}

/* Responsive tab view */

@media screen and (min-width: 576.99px) and (max-width: 992.99px) {
  .menu {
    display: none;
  }
  .card-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .run-img img {
    /* width:500px ; */
    width: 100%;
  }
  .run-sectaion {
    gap: 2rem;
  }
  .run-info h1 {
    font-size: 2rem;
  }
  .run-info small {
    font-size: 14px;
  }
  .run-img-container {
    flex: 1;
  }
  .run-info {
    flex: 1;
  }
  .run-img img {
  }

  /* tarinings section */
  .trainings-section br {
    display: none;
  }
  /* banner section */
  .banner-container {
    flex-direction: column;
    gap: 6rem;
  }
}

/* Responsive desktop view */

@media screen and (min-width: 992.99px) {
  .menu {
    display: none;
  }
  .card-4 {
    display: none;
  }

  .trainings-section br {
    display: none;
  }

  .meet-section {
    color: white;
  }

  .meet-card-main-container {
    width: 100%;
  }
  .meet-card-container {
    gap: 20px;
    margin: 20px;
    padding: 20px;
  }
}